.blog-list-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    align-items: center;
  }
  
  .blog-list-container h1 {
    margin: 2em 0;
    font-size: 2rem;
    text-align: center;
  }
  
  .blog-grid {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  @media only screen and (max-width: 768px) {
    .blog-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  