.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: box-shadow 0.3s ease;
}

.navbar.scrolled {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3em; 
}

.nav-links a {
  text-decoration: none;
  color: inherit;
}

/* Hamburger icon is hidden by default (only for small screens) */
.hamburger {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  /* Show hamburger and hide inline nav-links on small screens */
  .hamburger {
    display: block;
  }

  /* Initially hide the nav-links in mobile mode */
  .nav-links {
    display: none;
    position: absolute;
    top: 60px; /* Adjust based on navbar height */
    right: 10px;
    flex-direction: column;
    background-color: #fff;
    padding: 1em;
    gap: 1em;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    border-radius: 4px;
  }

  /* When .open class is added, nav-links become visible */
  .nav-links.open {
    display: flex;
  }

  
  .slide-button-container {
    display: none;
  }
  
}
