.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.navbar.scrolled {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3em; 
}

.nav-links a{
    text-decoration: none;
    color: inherit;
}

.connect-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
  border: 2px solid #221d23;
  color: #221d23;
  gap: 0.5em;
  padding: 1em;
  background-image: linear-gradient(to right, #221d23 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.1s ease-out;
}

.connect-btn a {
  text-decoration: none;
  color: #221d23;
  transition: color 0.1s ease-out;
}

.connect-btn:hover {
  background-position: left bottom;
}

.connect-btn:hover a {
  color: #fff;
  /* background-color: #221d23 ; */
}

.icon {
  width: 24px;
  height: 24px;
}

.icon-path {
  stroke: #221d23;
  transition: stroke 0.1s;
}

.connect-btn:hover .icon-path {
  stroke: #fff;
  
}
