.standards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  gap: 20px;
}

.standards-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.standards-grid-card {
  background: #FaFaFa;
  border-radius: 8px;
  box-shadow: 0 0px 0x rgba(0, 0, 0, 0);
  text-align: left;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.standards-grid-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.standards-grid-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.standards-grid-card h3 {
  font-size: 1.25rem;
  margin: 10px 0;
  color: #333;
}

.standards-grid-card p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}


.standards-h1{
 margin-block: 3em;
} 