body{

}

.nav-container {
  position: fixed; /* Fixes the navbar to the viewport */
  top: 0;          /* Positions the navbar at the top */
  left: 0;         /* Aligns the navbar to the left */
  width: 100%;     /* Ensures the navbar spans the entire width of the viewport */
  z-index: 1000;   /* Keeps the navbar above other content */
  background-color: #fff; /* Ensures a background color for visibility */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for separation */
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.nav-links {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  gap: 6rem; 
}

.logo{
  width: 10rem;
  height: 10rem;
}